<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated studyPlan -->
      <package
            uri="platform:/plugin/tdt4250.studyPlan.model/model/studyPlan.ecore"
            class="studyPlan.StudyPlanPackage"
            genModel="model/studyPlan.genmodel"/>
   </extension>

</plugin>
